<!-- BEGIN FOOTER -->
<div class="page-footer">
	<div class="container">
		 2020 &copy; MAKER AD
	</div>
</div>
<div class="scroll-to-top">
	<i class="icon-arrow-up"></i>
</div>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS (Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->

<script>
$(document).on('click', '.mobile_nav_open, .mobile_nav_close', function(){
	$('.mobile_nav_open').toggleClass('active');
	$('.page-header').toggleClass('active');
})
</script>

<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>